@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
}

.container {
  background-color: #000;
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  /* border: 3px solid red; */
}

.time {
  font-size: 9rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  align-self: flex-end;
  flex-shrink: 3;
  /* border: 3px solid red; */
}
.sleeptoggle {
  align-self: flex-end;
  padding: 0.5rem;
  background-color: rgb(31, 29, 29);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 4rem;
  border: 1px solid rgb(31, 29, 29);
}
.hidden {
  display: none;
}
